
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đơn hàng của Quý Khách đã được ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất</h2>
<p>
    @Html.ActionLink("Về Trang Chủ", "Index", "Clothes")
</p>

